<h1>Create a new page</h1>

<ul>
  <li><a href="<%= new_page_path %>?type=page">Page</a></li>
  <li><a href="<%= new_page_path %>?type=link">Link</a></li>
  <li><a href="<%= new_page_path %>?type=file">File</a></li>
</ul>